@model JournalMVC.DTO.ActivityDTO

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Занятие</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Type" class="control-label">Тип</label>
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeActivities"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeInterval" class="control-label">Временной интервал</label>
                <select asp-for="TimeIntervalId" class="form-control" asp-items="ViewBag.TimeIntervals"></select>
                <span asp-validation-for="TimeIntervalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
