@model JournalMVC.DTO.TimeIntervalDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TimeInterval</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <div class="col-md-10">
                    <label asp-for="StartActivity" class="control-label"></label>
                    <input asp-for="StartActivity" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label asp-for="EndActivity" class="control-label"></label>
                    <input asp-for="EndActivity" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
