@model IEnumerable<JournalMVC.DTO.TimeIntervalDTO>

@{
    ViewData["Title"] = "Временные интервалы";
}

<h1>Временные интервалы</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Начало занятия
            </th>
            <th>
                Конец занятия
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndActivity)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                 <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
